App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.not-allowed{
  border:3px solid red;
  background: darkred;
}
.allowed{
  border:3px solid greenyellow;
  background: white;
}

.in-game{;
  border:3px solid;
  background: repeating-linear-gradient(-45deg, beige, sandybrown);
}
.third-lined{
  background: repeating-linear-gradient(-45deg, beige, sandybrown);
  border: 3px solid green;
}

.out-game{
  width:4vw;
  height:4vw;
}

.PlayerView{
  margin:10px;
}
